:root {
  --slate-700: #334155;
  --primary: #22c55e;
  --background: #F1F5F9;
}

@font-face {
  font-family: 'Inter-400';
  src: url('./../../public/assets/fonts/Inter/static/Inter-Regular.ttf');
}


body {
  background-color: var(--background);
  font-family: 'Inter-400', sans-serif;
  scroll-behavior: smooth;
}

/* Style Untuk Menghilangkan Arrow di input number */
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

#dropdown-target.active {
  opacity: 1;
  display: flex;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 6px;
  border: 2px solid #fff;
}

::-webkit-scrollbar-track {
  background-color: #f3f4f6;
  border-radius: 6px;
  border: 2px solid #fff;
}

@media screen and (min-width: 400px) {
  #cart {
    display: grid;
    grid-template-columns: minmax(4rem, 6rem) minmax(10rem, 1fr) minmax(5rem, 1fr);
  }

  #counter {
    grid-column-start: auto !important;
  }
}

@media screen and (max-width: 330px) {
  #product-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  #footer-add-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .4rem;
  }

  #footer-add-cart>button {
    min-width: 100%;
  }

  #categori-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}