:root {
  --slate-700: #334155;
  --primary: #22c55e;
  --background: #F1F5F9;
}

@font-face {
  font-family: 'Poppins-300';
  src: url('./../../../public/assets/fonts/Poppins/Poppins-Light.ttf');
}

@font-face {
  font-family: 'Poppins-400';
  src: url('./../../../public/assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins-500';
  src: url('./../../../public/assets/fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins-600';
  src: url('./../../../public/assets/fonts/Poppins/Poppins-SemiBold.ttf');
}

body {
  background-color: var(--background);
  font-family: 'Poppins-400', sans-serif;
}